[*.cs]

# CS8629: Тип значения, допускающего NULL, может быть NULL.
dotnet_diagnostic.CS8629.severity = none

# CS8604: Возможно, аргумент-ссылка, допускающий значение NULL.
dotnet_diagnostic.CS8604.severity = none

# CS8602: Разыменование вероятной пустой ссылки.
dotnet_diagnostic.CS8602.severity = none

# CS0162: Обнаружен недостижимый код
dotnet_diagnostic.CS0162.severity = none
